---
const transformations = [
    {
        name: "Patient A",
        before: "images/transformations/patient-a-before.png",
        after: "images/transformations/patient-a-after.png"
    },
    {
        name: "Patient B",
        before: "images/transformations/patient-a-before.png",
        after: "images/transformations/patient-a-after.png"
    },
    {
        name: "Patient C",
        before: "images/transformations/patient-a-before.png",
        after: "images/transformations/patient-a-after.png"
    }
]
---

<div class="carousel" id="carousel" >
    {transformations.map((item) => (
        <div class="carousel-item">
            <div class="image-pair">
                <img src={item.before} alt={`${item.name} before`} loading="lazy" />
                <img src={item.after} alt={`${item.name} after`} loading="lazy" />
            </div>
            <h3>{item.name}</h3>
        </div>
    ))}
</div>

<style>
    .carousel {
        display: flex;
        gap: clamp(3rem, 4vw, 5rem);
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        cursor: grab;
        /* justify-content: center; */
    }

    .carousel:active {
        cursor: grabbing;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .carousel-item {
        flex: 0 0 600px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
        align-items: center;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .image-pair{
        display: flex;
        width: 100%;
        gap: 0;
        overflow: hidden;
    }

    .image-pair img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-item h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    @media (max-width: 768px) {
        .carousel-item {
            flex: 0 0 80vw;
        }

        .carousel-item h3 {
            font-size: 1rem;
        }
    }

    @media (max-width: 480px) {
        .carousel-item {
            flex: 0 0 90vw;                  
        }

        .image-pair {
            flex-direction: column;          
        }

        .image-pair img { width: 100%; }  

        .carousel-item h3 {
            font-size: 1rem;
        }
    }

</style>
